
.footer-container{
    padding: 9.6rem 0;
}
.footer-list li{
    padding-bottom: 1.5rem;
    
}
.footer-list li a {
    text-decoration: none;
    color: #1f2029;
}
 h3.text-uppercase{
    color: #ADAEB8;
    font-weight: 700;
}
.footer-logo{
    width: 250px;
    height: 35px;
}
.footer-copyright{
    padding-bottom:1rem;
}