.what-inside{
    margin: 96px 0;
}   
.what-inside__content{

}

.what-inside__img{
    border-radius: 0;
    height: 100%;
    object-fit: contain;
    aspect-ratio: auto 1184/1120;
    width: 100%;
    max-width: var(--image-manual-width);
    max-height: var(--image-manual-height);
    
}
.what-inside__wrap{
    padding-top: 6.4rem;
}
.what-inside__list-item{
    list-style: none;
    margin-left: 0;
    display: flex;
    align-items: center;
    padding: .7rem;  
}
.what-inside__icon{
    color: #DE574D;
    margin-right: 1rem;
    background-color: #FDF2F1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
}
.what-inside__title{
    font-size: var(--font-card-heading);
    font-weight: 700;
    margin-bottom: 2rem;
}